body {
    font-family: Garamond, serif;
    text-align: center;
}

#baner, #stopka {
    background-color: #8C7B75;
    color: #fff;
    height: 70px;
    font-size: 150%;
    display: flex center;
    justify-content: space-between;
    align-items: flex-end;  
}
#stopka {
    margin-top: -32px;
}

#lewy #prawy #srodkowy {
    display: flex center;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;  
}

#lewy {
    background-color: #BCAAA4;
    height: 400px;
    width: 35%;
}

#srodkowy {
    background-color: #EFDCD5;
    height: 400px;
    width: 30%;
}

#prawy{
    background-color: #BCAAA4;
    width: 34%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
img {
    border: 1px dashed #8C7B75;
    padding: 5px;
    border-radius: 10%;
    max-width: 40%;
    height: auto;
}
 


#lewy {
    list-style-type: lower-alpha;
}

#lewy {
    text-align: left;
}



#wynik {
    margin-top: 100px;
    border: 1px solid #8C7B75;
}
#lewy, #prawy, #srodkowy {
    display: inline-block;
    vertical-align: top;
    
    
}
